/* You can add global styles to this file, and also import other style files */


/*
#ffd700
#115173
#053f5e
#022c43
*/

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'La Belle Aurore';
	src: url('../fonts/LaBelleAurore.woff2') format('woff2'), url('../fonts/LaBelleAurore.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: font-file-82132;
	src: url('../fonts/CoolveticaRg-Regular.woff2') format('woff2'), url('../fonts/CoolveticaRg-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.wp-pagenavi {
	clear: both
}

.wp-pagenavi a,
.wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #bfbfbf;
	padding: 3px 5px;
	margin: 2px
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
	border-color: #000
}

.wp-pagenavi span.current {
	font-weight: 700
}

*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
	text-rendering: optimizeLegibility
}

html {
	font-size: 62.5%
}

body {
	font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #444
}

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

body .post-article {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

body .post-article *::-moz-selection {
	background: #ff0b56;
	color: #fff
}

body .post-article *::selection {
	background: #ff0b56;
	color: #fff
}

.clear:before,
.clear:after {
	content: ' ';
	display: table
}

.clear:after {
	clear: both
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	vertical-align: bottom
}

a {
	color: #444;
	text-decoration: none
}

a:hover {
	color: #444
}

a:focus {
	outline: 0
}

a:hover,
a:active {
	outline: 0
}

input:focus {
	outline: 0;
	border: 1px solid #04a4cc
}

.wrapper {
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
	position: relative
}

::selection {
	background: #04a4cc;
	color: #fff;
	text-shadow: none
}

::-webkit-selection {
	background: #04a4cc;
	color: #fff;
	text-shadow: none
}

::-moz-selection {
	background: #04a4cc;
	color: #fff;
	text-shadow: none
}

.alignnone {
	margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px
}

a img.alignnone {
	margin: 5px 20px 20px 0
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto
}

.wp-caption .wp-caption-text,
.gallery-caption {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px
}

@media print {
	* {
		background: 0 0 !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important
	}

	a,
	a:visited {
		text-decoration: underline
	}

	a[href]:after {
		content: " (" attr(href) ")"
	}

	abbr[title]:after {
		content: " (" attr(title) ")"
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: ""
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}

	thead {
		display: table-header-group
	}

	tr,
	img {
		page-break-inside: avoid
	}

	img {
		max-width: 100% !important
	}

	@page {
		margin: .5cm
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3
	}

	h2,
	h3 {
		page-break-after: avoid
	}
}