/* You can add global styles to this file, and also import other style files */


/*
#ffd700
#115173
#053f5e
#022c43
*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'La Belle Aurore';
    src: url('../fonts/LaBelleAurore.woff2') format('woff2'), url('../fonts/LaBelleAurore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font-file-82132;
    src: url('../fonts/CoolveticaRg-Regular.woff2') format('woff2'), url('../fonts/CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wp-pagenavi {
    clear: both
}

.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #bfbfbf;
    padding: 3px 5px;
    margin: 2px
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    border-color: #000
}

.wp-pagenavi span.current {
    font-weight: 700
}

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    text-rendering: optimizeLegibility
}

html {
    font-size: 62.5%
}

body {
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body .post-article {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

body .post-article *::-moz-selection {
    background: #ff0b56;
    color: #fff
}

body .post-article *::selection {
    background: #ff0b56;
    color: #fff
}

.clear:before,
.clear:after {
    content: ' ';
    display: table
}

.clear:after {
    clear: both
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom
}

a {
    color: #444;
    text-decoration: none
}

a:hover {
    color: #444
}

a:focus {
    outline: 0
}

a:hover,
a:active {
    outline: 0
}

input:focus {
    outline: 0;
    border: 1px solid #04a4cc
}

.wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    position: relative
}

::selection {
    background: #04a4cc;
    color: #fff;
    text-shadow: none
}

::-webkit-selection {
    background: #04a4cc;
    color: #fff;
    text-shadow: none
}

::-moz-selection {
    background: #04a4cc;
    color: #fff;
    text-shadow: none
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px
}

@media print {
    * {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,
    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    @page {
        margin: .5cm
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}

.circliful {
    position: relative
}

.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-family: Open Sans
}

.circle-info,
.circle-info-half {
    color: #fff;
    font-size: 11px;
    line-height: 260px !important;
    font-family: "Open Sans", sans-serif
}

.small .circle-info,
.small .circle-info-half {
    line-height: 80px !important
}

.circliful .fa {
    margin: -10px 3px 0;
    position: relative;
    bottom: 4px;
    display: none
}

.magicwall {
    position: relative;
    display: block
}

.magicwall.magicwall-loading:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background: url(/assets/images/loading2.gif) center center no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.magicwall .magicwall-grid {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-left: 60px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    list-style: none;
    font-size: 0
}

.magicwall .magicwall-grid>li {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0
}

.magicwall .magicwall-grid>li>.magicwall-wrap {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative
}

.magicwall .magicwall-grid>li>.magicwall-wrap>.magicwall-thumb {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .5)
}

.magicwall .magicwall-grid>li.magicwall-loading>.magicwall-wrap:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    background: url(/assets/images/loading2.gif) center center no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.magicwall li .hover-content {
    position: absolute;
    z-index: 1;
    opacity: 1;
    font: normal normal 16px/20px "Open Sans", Arial, sans-serif;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: background .15s ease-out;
    -moz-transition: background .15s ease-out;
    transition: background .15s ease-out;
    width: 100%;
    height: 100%
}

.magicwall li:hover .hover-content {
    background: rgba(0, 0, 0, 0)
}

.magicwall .magicwall-grid>li>.magicwall-wrap>.magicwall-thumb {
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    transition: transform .3s ease-in
}

.magicwall .magicwall-grid>li:hover>.magicwall-wrap>.magicwall-thumb {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.magicwall li a.colorbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: url(/assets/images/circle.png) no-repeat center;
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
    -webkit-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2)
}

.magicwall li:hover a.colorbox {
    opacity: 1;
    -webkit-transform: scale(.4);
    -ms-transform: scale(.4);
    transform: scale(.4);
    border-radius: 50%;
}

#cboxCurrent {
    display: none !important
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
}

#cboxWrapper {
    max-width: none
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}

#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left
}

#cboxContent {
    position: relative
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

#cboxTitle {
    position: fixed !important;
    margin-bottom: -26px !important
}

#cboxTitle a {
    color: #ffd700;
    display: block;
    background: #252627;
    font-size: 16px;
    padding: 15px 20px
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

#cboxOverlay {
    background: url(/assets/images/overlay.png) repeat 0 0;
    opacity: .9;
    filter: alpha(opacity=90)
}

#colorbox {
    outline: 0
}

#cboxTopLeft {
    width: 21px;
    height: 21px;
    background: url(/assets/images/controls.png) no-repeat -101px 0
}

#cboxTopRight {
    width: 21px;
    height: 21px;
    background: url(/assets/images/controls.png) no-repeat -130px 0
}

#cboxBottomLeft {
    width: 21px;
    height: 21px;
    background: url(/assets/images/controls.png) no-repeat -101px -29px
}

#cboxBottomRight {
    width: 21px;
    height: 21px;
    background: url(/assets/images/controls.png) no-repeat -130px -29px
}

#cboxMiddleLeft {
    width: 21px;
    background: url(/assets/images/controls.png) left top repeat-y
}

#cboxMiddleRight {
    width: 21px;
    background: url(/assets/images/controls.png) right top repeat-y
}

#cboxTopCenter {
    height: 21px;
}

#cboxBottomCenter {
    height: 21px;
}

#cboxContent {
    background: #fff;
    overflow: hidden
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    margin-bottom: 28px
}

#cboxTitle {
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949494
}

#cboxTitle {
    margin: 0;
    bottom: 26px !important;
    color: transparent
}

#cboxCurrent {
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494
}

#cboxLoadingOverlay {
    background: url(/assets/images/loading_background.png) no-repeat center center
}

#cboxLoadingGraphic {
    background: url(/assets/images/loading.gif) no-repeat center center
}

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: 0 0
}

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0
}

#cboxSlideshow {
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef
}

#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(/assets/images/controls.png) no-repeat -75px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px
}

#cboxPrevious:hover {
    background-position: -75px -25px
}

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(/assets/images/controls.png) no-repeat -50px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px
}

#cboxNext:hover {
    background-position: -50px -25px
}

#cboxClose {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(/assets/images/controls.png) no-repeat -25px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px
}

#cboxClose:hover {
    background-position: -25px -25px
}

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)
}

.alertify,
.alertify-show,
.alertify-log {
	-webkit-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
	-moz-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
	-ms-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
	-o-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
	transition: all .5s cubic-bezier(.175, .885, .32, 1.275)
}

.alertify-hide {
	-webkit-transition: all .25s cubic-bezier(.6, -.280, .735, .045);
	-moz-transition: all .25s cubic-bezier(.6, -.280, .735, .045);
	-ms-transition: all .25s cubic-bezier(.6, -.280, .735, .045);
	-o-transition: all .25s cubic-bezier(.6, -.280, .735, .045);
	transition: all .25s cubic-bezier(.6, -.280, .735, .045)
}

.alertify-log-hide {
	-webkit-transition: all .5s cubic-bezier(.6, -.280, .735, .045);
	-moz-transition: all .5s cubic-bezier(.6, -.280, .735, .045);
	-ms-transition: all .5s cubic-bezier(.6, -.280, .735, .045);
	-o-transition: all .5s cubic-bezier(.6, -.280, .735, .045);
	transition: all .5s cubic-bezier(.6, -.280, .735, .045)
}

.alertify-cover {
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	filter: alpha(opacity=0);
	opacity: 0
}

.alertify-cover-hidden {
	display: none
}

.alertify {
	position: fixed;
	z-index: 99999;
	top: 50px;
	left: 50%;
	width: 550px;
	margin-left: -275px;
	opacity: 1
}

.alertify-hidden {
	-webkit-transform: translate(0, -150px);
	-moz-transform: translate(0, -150px);
	-ms-transform: translate(0, -150px);
	-o-transform: translate(0, -150px);
	transform: translate(0, -150px);
	opacity: 0;
	display: none
}

:root *>.alertify-hidden {
	display: block;
	visibility: hidden
}

.alertify-logs {
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	width: 300px;
	font-size: 14px
}

.alertify-logs-hidden {
	display: none
}

.alertify-log {
	display: block;
	margin-top: 10px;
	position: relative;
	right: -300px;
	opacity: 0
}

.alertify-log-show {
	right: 0;
	opacity: 1
}

.alertify-log-hide {
	-webkit-transform: translate(300px, 0);
	-moz-transform: translate(300px, 0);
	-ms-transform: translate(300px, 0);
	-o-transform: translate(300px, 0);
	transform: translate(300px, 0);
	opacity: 0
}

.alertify-dialog {
	padding: 25px
}

.alertify-resetFocus {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.alertify-inner {
	text-align: center
}

.alertify-text {
	margin-bottom: 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%
}

.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
	background: 0 0;
	text-decoration: none;
	border: none;
	line-height: 1.5;
	font-size: 100%;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px
}
